<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.0.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
	<context:component-scan base-package="b_xml" />      <!--
	                                                               Enables Application Context(in this case this servlet)
	                                                               to scan and register all bean given in the package #317 
	                                                        -->
    <context:annotation-config />                           <!--
					                                              Add this element to enable XML & #317
					                                              Annotation based configuration      
					                                       -->
	<mvc:annotation-driven />                              <!--
	                                                               Is needed to dispatch requests to the  #317
	                                                               Spring MCV Controller Class
	                                                               
	                                                               Also enables registration of message converted #317 
	                                                        -->
</beans>